<launch>

    <!-- launch arduinos and sensors -->
    <include file="$(find launch)/arduino.launch" />
    
    <!-- launch base driver -->
    <include file="$(find amos_base)/config/base.launch"/>

    <!-- launch static tf frames -->
    <node pkg="amos_tf" type="amos_tf" name="amos_tf"/>

</launch>
