<launch>
    <!-- Specify the image size to use with ocv_camera nodes -->
    <arg name="width" default="320"/>
    <arg name="height" default="240"/>

    <!-- launch the front camera -->
    <include file="$(find launch)/camera.launch">
        <arg name="width" value="$(arg width)"/>
        <arg name="height" value="$(arg height)"/>
    </include>

    <node pkg="lane" name="lane" type="lane" output="screen">
        <remap from="/lane/markers" to="/lane_nav/markers"/>

        <param name="straightAngle" value="1.2"/>

        <param name="markerFrame" value="/world"/>

        <param name="lidarFixRange" value="70"/>
    </node>
</launch>
