<launch>
    <!-- SLaM map building -->
    
    <arg name="lidarTopic" default="/lidar_raw"/>

    <!-- launch the Lidar -->
    <include file="$(find launch)/sensors.launch"/>
    
    <node pkg="gmapping" name="SLaM" type="slam_gmapping">
        <remap from="/scan" to="$(arg lidarTopic)"/>     <!-- use the right lidar scan -->

        <!-- set the frames to be used -->
		<param name="base_frame" value="/amos"/>
		<param name="odom_frame" value="/amos_localize"/>

        <!-- update speed -->
        <param name="map_update_interval" value="5.0"/>

        <param name="temporalUpdate" value="-1.0"/>
        <param name="linearUpdate" value="0.5"/>
        <param name="angularUpdate" value="0.5"/>

		<param name="delta" value="0.10"/>

        <param name="occ_thresh" value="0.1"/>
        <!-- lidar range -->
        <param name="maxUrange" value="6.0"/>
        <param name="maxRange" value="10.0"/>
    </node>

</launch>
